<table>
    <tr>
        <td>Action</td>
        <td>id</td>
        <td>Name</td>
        <td>Age</td>
    </tr>

    {{#data}}

        <tr>
            <td>
                <a href="update/{{id}}" class="Update"><img src="/img/editar.png"></a>
                <a href="Deletar/{{id}}" class="deletar"><img src="/img/lixeira.png"></a> </td>
                
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{age}}</td>           
            

        </tr>
    {{/data}}
</table>